<div class="edit-box">
  <h1>Editing Book</h1>
  
    <% if @book.errors.any? %>
    <div class="error-message">
      <p class="error-title"><%= @book.errors.count %>errors prohibited this book from being saved:</p>
      <ul>
        <% @book.errors.full_messages.each do |message| %>
          <li class="error-body"><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form_with model:@book,url:book_path(@book.id),method: :patch do |f| %>

    <h4 class="edit-title">title</h4>
    <%= f.text_field:title %>

    <h4 class="edit-body">body</h4>
    <%= f.text_area:body %>

    <div class="edit-switch"><%= f.submit 'Update Book' %></div>

    <div class="edit-link-box">
      <%= link_to 'Show',book_path(@book.id) %>

      <p class="space">|</p>

      <%= link_to 'Back',"/books" %>
    </div>

  <% end %>
</div>